body {
    margin: 0;
    padding: 0;
    color: #cccbcb;
    font-size: 18px;
    transition: .3s;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    transition: .3s;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-wrap {
    display: flex;
    padding: 0;
    list-style: none;
}

.nav-wrap>li {
    padding: 10px 20px;
    box-sizing: content-box;
}

.nav-wrap>li>a {
    transition: .3s;
    color: inherit;
    border-bottom: 1px solid transparent;
}

.nav-wrap>li>a:hover {
    color: #d37a07;
    position: relative;
    border-bottom: 1px solid #d37a07;
}

.nav-wrap>li>a:focus {
    color: #d37a07;
    border-bottom: 1px solid #d37a07;
    text-decoration: none;
    outline: none;
}

.section-bg a {
    display: block;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
    transform: scale(1.1);
}

.section-bg {
    width: 100%;
    height: 600px;
    background-image: url('../img/header-bg.jpg');
    background-position: -10% 80%;
    background-size: cover;
}

.section-bg-filter {
    height: 100%;
    background-color: #00000080;
}

.section {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.header-description {
    align-self: flex-end;
    padding-top: 30px;
}

.header-logo {
    width: 80px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu a {
    transition: .3s;
    color: #cccbcb;
}

.header-caption {
    padding-top: 50px;
    font-size: 60px;
    text-align: center;
}

.header-block-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.header-block-search {
    position: relative;
    margin-bottom: 30px;
}

.header-search-input {
    padding: 5px 30px;
    color: #000;
}

.header-search-input:-ms-input-placeholder {
    color: #c4c4c4;
}

.header-search-btn {
    position: absolute;
    right: 2%;
    top: 10%;
    width: 25px;
    height: 25px;
    background-image: url('../img/search-icon.png');
    background-size: cover;
    border: none;
    outline: none;
    transition: .3s;
    cursor: pointer;
}

.header-search-btn:active {
    transform: translateY(2px);
}

.header-btn {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #c4c4c4;
    outline: none;
    transition: .3s;
    color:#fff;
}

.header-btn:hover {
    box-shadow: 0px 0px 10px #c4c4c4;
}

.header-btn:active {
    transform: translateY(2px);
}

.catalog {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.catalog-card {
    width: 50%;
    height: 400px;
    background-size: cover;
}

.catalog-card-filter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(107, 94, 94, 0.52);
}

.catalog-card a {
    transition: .3s;
    color: inherit;
    font-size: 25px;
    text-transform: uppercase;
    width: 250px;
    text-align: center;
}

.catalog-card:nth-child(1) {
    background-image: url('../img/home-card-bg.jpg');
    background-position: 50% 80%;
}

.catalog-card:nth-child(2) {
    background-image: url('../img/garden-card-bg.jpg');
    background-position: 50% 70%;
}

.catalog-card:nth-child(3) {
    background-image: url('../img/bicycle-furniture-bg.jpg');
    background-position: 50% 0%;
}

.catalog-card:nth-child(4) {
    background-image: url('../img/all-furniture-card-bg.jpg');
    background-position: 50% 0%;
}

.section__header {
    font-size: 36px;
    margin-top: 60px;
    text-align: center;
    color: #2d2d2d;
    font-weight: bold;
    margin-bottom: 60px;
}

.new-items {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.new-items-card {
    height: 400px;
    width: 300px;
    border: 1px solid #c4c4c4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-items-card img {
    object-fit: cover;
    height: 250px;
    margin: auto
}

.new-items-card__description {
    margin-top: 10px;
    color: #2d2d2d
}

.new-items-card__price {
    margin-top: auto
}

.about-us {
    background-image: url('../img/about-us-bg.jpg');
    object-fit: cover;
}

.about-us .section-bg-filter {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #00000094;
}

.about-us-text-block {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-us-paragraph {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.about-us-paragraph_center {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.abous-us-row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.abous-us-row p {
    padding: 20px;
    width: 40%;
    background-color: #00000094;
}

.abous-us-row p:nth-child(1) {
    margin-right: 40px;
}

.cooperation {
    background-image: url('../img/cooperation-bg.jpg');
    background-position: center;
    background-size: cover;
}

.cooperation-filter {
    background-color: #00000094;
    padding: 60px 0px 160px;
}

.cooperation__header {
    margin-bottom: 40px
}

.cooperation-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cooperation-img-block {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 20px 30px;
    text-align: center;
    margin-bottom: 20px;
}

.cooperation-img-block img {
    height: 128px;
    margin-bottom: 20px;
    object-fit: cover;
}
.offers{
    background-image: url(../img/design-section-bg.jpg);
    object-fit: cover;
    object-position: center;
}
.offers-filter{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #000000a9;
}
.offers-paragraph{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 230px;
}
.offers__header{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}
.footer{
    background-image: url(../img/footer-bg.jpg);
    object-fit: cover;
    object-position: top;
    transition: .3s;
}
.footer-filter{
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #00000050;
}
.footer-contact-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-content-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-contact-block a{
    color: inherit;
    width: auto;
    transition: .3s;
}
.copyright{
    text-align: center;
}

.hamburger-menu{
    position: absolute;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    align-items: center;
    position: absolute;
    top: 45px;
    left: 70px;
    display: none;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
    color: #fff;
}

.menu__btn>span, .menu__btn>span::before, .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    width: 26px;
    height: 2px;
    background-color: #c4c4c4;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 2;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}


/********************************* catalog ********************************************/

.catalog-bg-1{
    background-image: url('../img/catalog-bg-1.jpg');
    background-position: center 60%;
    background-repeat: no-repeat;
}
.catalog-bg-2{
    background-image: url('../img/catalog-bg-2.jpg');
    background-position: center 60%;
    background-repeat: no-repeat;
}
.catalog-bg-3{
    background-image: url('../img/catalog-bg-3.jpg');
    background-position: center 60%;
    background-repeat: no-repeat;
}
.filters{
    padding-top: 100px;
    padding-bottom: 100px;
}
.filters-wrap{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}
.filters-item{
    padding:10px 20px;
    background-color: #2d2d2d;
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-left:20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 1s;
}
.filters-item a{
    color: inherit;
}
.filters-item:hover{
    background-size: 210%;
    filter: brightness(2);
}
.filters-item_active{
    filter: brightness(2);
}
.items-block{
    flex-wrap: wrap;
    justify-content: flex-start;
}
.items-block .new-items-card{
    margin-bottom: 30px;
    margin-right: 30px;
}
/* *******************product ****************/

.product{
    margin-top:60px;
    margin-bottom:60px
}
.product-block{
    display: flex;
    flex-direction: row;
}
.portfolio-block-img{
    width: 50%;
}
.portfolio-block-img__item{
    width: 400px;
    height: 500px;
    object-fit: cover;
}
.portfolio-block-img__item img{
    width: 400px!important;
    height: 500px;
    object-fit: cover;
    object-position: center;
}
.product-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
}
.description__title{
    color:#333
}
.description__text{
    color:#333;
    margin-bottom: 20px;
}
.description__price{
    color:#333;
    margin-bottom: 20px;
}
.description__order{
    padding: 5px 15px;
    border: 1px solid #333333;
    transition: .5s;
}
.description__order:hover{
    color: #333;
}

/* ***************************gallery **********************************/

.section-gallery-block{
    margin-bottom: 60px;
    margin-top: 60px;
}
.gallery__header{
    display: block;
    width: 100%;
}
.gallery-block-img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.gallery-block-img__item{
    margin-right: 25px;
    display: inline-block;
    width: 300px;
    margin-bottom: 25px;
}
gallery-block-img__item:nth-child(4n+4){
    margin-right: 0px;
}
.gallery-block-img__item img{
    width: 300px!important;
    height: 300px;

}