@media (max-width:1300px){
    .section{
        width:90%;
    }
    .nav-wrap{
        font-size: 14px;
        padding: 5px 10px;
    }
}
@media(max-width:1000px){
    .catalog-card{
        width: 100%;
        height: 300px;
    }
}
@media(max-width:850px){
    .header-discription{
        padding-top: 80px;
    }
    .menu__btn{
        display: flex;
    }
    .nav-wrap{
        display: none;
    }
    .new-items{
        flex-direction: column;
        align-items: center;
    }
    .new-items-card{
        height: 300px;
        margin-bottom: 20px;
    }
    .new-items-card img{
        height: 150px;
        width: auto;
    }
    .new-items-card:nth-last-child(1){
        display: none;
    }
    .abous-us-row{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .abous-us-row p{
        width: 100%;
    }
    .offers-paragraph{
        padding-left: 0px;
    }
}
@media(max-width:550px){
    .header-discription{
        font-size: 11px;
    }
    .catalog-card{
        width: 100%;
        height: 200px;
    }
    .offers__header{
        margin-top: 0;
        text-align: left;
    }
    .about-us-paragraph{
        width: 300px;
    }
    .filters{
        padding:20px 0;
        font-size: 16px;
    }
    .filters-item{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .items-block .new-items-card{
        margin-right: 0px;
    }
    .new-items-card{
        width: 90%;
    }
    .new-items {
        width: 100%;
    }
}